---
import { getEntryBySlug } from 'astro:content';
import { Debug } from 'astro/components';

import { NoisePanel } from './';

const { slug } = Astro.props;
const testimonial = await getEntryBySlug('testimonials', slug);
---

<NoisePanel
    xtraClasses="h-[28rem] w-[30rem] m-12 hover:ring hover:ring-offset-2 hover:ring-offset-transparent hover:ring-orange-500">
    <a
        title={'Testimonial from ' + testimonial.data.name}
        class="p-4 items-stretch"
        href={testimonial.data.link}>
        <div class="flex flex-cols-2 mb-2">
            <img
                class="w-20 h-20 rounded-full"
                src={`/pfp/${testimonial.data.slug}.png`}
            /><div class="my-auto ml-2">
                <h2 class="text-lg font-bold">
                    {testimonial.data.name}
                </h2>
                <p class="text-slate-400">
                    {testimonial.data.job}
                </p>
            </div>
        </div>
        <p class="p-4 text-2xl text-center h-[18rem]">
            {testimonial.body}
        </p>
        <p class="p-4 text-sm text-left text-slate-400">
            {testimonial.data.for.length > 0 ? 'Reviewing: ' : ''}
            <i>{testimonial.data.for.join(', ')}</i>
        </p>
    </a>
</NoisePanel>
